# -*- mode: ruby -*-
# vi: set ft=ruby :

# All Vagrant configuration is done below. The "2" in Vagrant.configure
# configures the configuration version (we support older styles for
# backwards compatibility). Please don't change it unless you know what
# you're doing.
Vagrant.configure("2") do |config|
  config.vm.define "nested_host" do |nested|
    nested.vm.box = "centos/7"
    nested.vm.provider :libvirt do |domain|
      domain.cpus = {{ nested_cpus }}
      domain.memory = {{ nested_memory }}
      domain.management_network_name = 'vagrant-libvirt'
      domain.management_network_address = '192.168.121.0/24'
      domain.nested = true
      domain.cpu_mode = "host-model"

    nested.vm.network :private_network,
      :libvirt__network_name => 'default'

    end
  end
end
