#nodepool_repos:
#  - https://github.com/michaeltchapman/tripleo-quickstart
#  - https://github.com/michaeltchapman/tripleo-quickstart-extras
#  - https://git.openstack.org/openstack/tripleo-upgrade
#  - https://git.openstack.org/openstack-infra/tripleo-ci
#  - https://git.openstack.org/openstack-dev/devstack
#  - https://git.openstack.org/openstack-infra/devstack-gate
#  #- https://git.openstack.org/openstack/tripleo-quickstart
#  #- https://git.openstack.org/openstack/tripleo-quickstart-extras

overcloud_dns_servers: [ "10.11.5.19" ]
undercloud_undercloud_nameservers: [ "10.11.5.19" ]
ntp_server: clock.redhat.com
